@using Mentat.Domain.Models

@model StudentVM

@{
    ViewData["Title"] = "Student";
}

@Html.HiddenFor(m => m.NumberOfFlashCards)
@Html.HiddenFor(m => m.CurrentIndex)
<span class="dot"></span>
<div class="row bottom-buffer col-sm-12">
    <div class="col-sm-9"></div>
    @Html.TextBoxFor(m => m.SelectedCardIndex, new { style="width:40px;", @onchange = "updateSelectedCard(this);" }) <text>&nbsp;</text> of @Model.NumberOfFlashCards
</div>
@for(var i = 1; i <= Model.NumberOfFlashCards; i++)
{
    var display = i == 1 ? "inline" : "none";
    <div id="flashcard_@i" style="display:@display">
        @Html.Partial("_Flashcard", Model.AvailableCards[i - 1], new ViewDataDictionary(ViewData) { {"index", i} })
    </div>
}
<div class="row top-buffer col-sm-12">
    <button type="button">Add Flashcard</button>
</div>

<script src="~/js/Student.js"></script>