@using Mentat.Domain.Models

@model StudentVM

@{
    ViewData["Title"] = "Student";
}

@Html.HiddenFor(m => m.NumberOfFlashCards)
@Html.HiddenFor(m => m.CurrentIndex)
<span class="dot"></span>
<div class="row bottom-buffer col-sm-12">
    <div class="col-sm-9"></div>
    @Html.TextBoxFor(m => m.SelectedCardIndex, new { style="width:40px;", @onchange = "updateSelectedCard(this);" }) <text>&nbsp;</text> of @Model.NumberOfFlashCards
</div>
<div class="row bottom-buffer col-sm-12">
    <div class="col-sm-9">
        <span><img src="/images/fluent_brain-circuit-20-filled.png"></span>
        <span class="align-middle title-text">Study</span>
    </div>
</div>

@for (var i = 1; i <= Model.NumberOfFlashCards; i++)
{
    var display = i == 1 ? "inline" : "none";
    <div id="flashcard_@i" style="display:@display">
        @Html.Partial("_Flashcard", Model.AvailableCards[i - 1], new ViewDataDictionary(ViewData) { { "index", i } })
    </div>
}

<div class="row top-buffer col-sm-12">
    <button type="button">Add Flashcard</button>
</div>
<div class="row top-buffer col-sm-12">
    <table class="table top-buffer">
        <thead>
            <tr>
                <th align="center">List of Flashcards</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 1; i <= Model.NumberOfFlashCards; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => m.AvailableCards[i - 1].CardQuestion)
                    </td>
                    <td>
                        <a href="javascript:;" title="View Details"><i class="fa-solid fa-eye"></i></a> |
                        <a href="javascript:;" title="Edit Flashcard"><i class="fa-solid fa-file-pen"></i></a> |
                        <a href="javascript:;" title="Delete Flashcard"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/Student.js"></script>