@model Mentat.UI.ViewModels.CardViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCustom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var card in Model.Cards) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => card.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => card.question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => card.answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => card.isCustom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => card.difficulty_level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => card.notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=card._id }) |
                @Html.ActionLink("Details", "Details", new { id=card._id }) |
                @Html.ActionLink("Delete", "Delete", new { id=card._id })
            </td>
        </tr>
}
    </tbody>
</table>
