@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
.header {
    position: absolute;
    top: 2%;
    left: 2%;
}
</style>

<div class="dot"></div>

<div class="header">
    <img src="/images/fluent_brain-circuit-20-filled.png" alt="Logo">
</div>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>@ViewData["Title"]</h1>
            <h2>Create a new account.</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                <input asp-for="Input.UserName" class="form-control" autocomplete="d" aria-required="true" style="width:350px"/>
                <br>
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="width:350px"/>

                <br>
                <label asp-for="Input.Password" class="form-label" style="width:350px"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="input-group-password" style="width:350px">
                    <input asp-for="Input.Password" class="form-control-password" aria-required="true" style="width: calc(100% - 42px);"/>
                    <button type="button" class="view-password-toggle" id="show-password" style="width: 42px">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>

                <br>
                <label asp-for="Input.ConfirmPassword" class="form-label" style="width:350px"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <div class="input-group-password" style="width:350px">
                    <input asp-for="Input.ConfirmPassword" class="form-control-password" aria-required="true" style="width: calc(100% - 42px);"/>
                    <button type="button" class="view-password-toggle" id="show-confirm-password" style="width: 42px">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <br>
                <label>Account type:</label>
                <div>
                    <label><input type="radio" asp-for="Input.UserType" value="Student" checked/> Student</label>
                    <label><input type="radio" asp-for="Input.UserType" value="Mentor"/> Mentor</label>
                </div>
                <br>
            </div>
            <button id="registerSubmit" style="width:140px;height:40px" type="submit" class="btn btn-primary rounded-pill">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr/>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this
                            <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    <script>
           let showButtons = document.querySelectorAll(".view-password-toggle");
           
           showButtons.forEach(function(btn) {
               const passwordInput = btn.previousElementSibling;
             
               btn.addEventListener("click", function() {
                   if (passwordInput.type === "password") {
                       passwordInput.type = "text";
                       btn.innerHTML = '<i class="bi bi-eye-slash"></i>';
                   } else {
                       passwordInput.type = "password";
                       btn.innerHTML = '<i class="bi bi-eye"></i>';
                   }
               });
           });
    
        </script>
}