@model Mentat.UI.ViewModels.CardViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <span class="dot"></span>
    
    <div class="container pt-5">
        <div id="myCarousel">
            <div id="carouselCard" class="carousel slide" data-ride="carousel">

              <!-- Card Indicator -->
              <ul class="carousel-indicators">
                @for (var j = 0; j < Model.Cards.Count(); j++)
                {
                    var jActive = j == 0 ? "active" : "";
                    <li data-target="#carouselCard" data-slide-to="@j" class="@jActive"></li>
                }
              </ul>

              <!-- Cards -->
              <div class="carousel-inner">
                  @for (var i = 0; i < Model.Cards.Count(); i++)
                 {
                    var active = i == 0 ? "active" : "";
                    <div class="carousel-item @active">
                         <div class="card-carousel d-block mx-auto">
                          <div class="card-body">
                            <h5 class="card-title carousel-card-title long-title">@Model.Cards[i].Question</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Model.Cards[i].DifficultyLevel</h6>
                            <p class="card-text long-text">@Model.Cards[i].Answer</p>
                          </div>
                        </div>
                    </div>
                 }
              </div>

              <!-- L/R Arrows -->
              <a class="carousel-control-prev" href="#carouselCard" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#carouselCard" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span><img src="~/images/fluent_brain-circuit-20-filled.png" /></span>
                <span class="align-middle title-text">Mentat</span>
                <span class="align-middle subtitle-text pt-4 pl-2">Grade.</span>
                <span class="align-middle subtitle-text pt-4 fsu-maroon-color">Study.</span>
                <span class="align-middle subtitle-text pt-4">Succeed.</span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="card bg-black">
                    <div class="card-body text-center flex-column d-flex">
                        <img class="mx-auto" src="images/cil_apple.png" />
                        <h2 class="card-title text-center text-on-dark font-weight-bold">Mentor</h2>
                        <p class="card-text text-center text-on-dark px-5 pt-3">Take the legwork outta teaching! Generate auto-grading scripts to quickly and accurately grade assignments.</p>
                        <a asp-controller="Mentor" asp-action="Index" class="btn btn-gold btn-lg rounded-pill align-self-center mt-auto mb-3" style="width: 230px">GRADE</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card bg-primary">
                    <div class="card-body text-center flex-column d-flex">
                        <img class="mx-auto" src="images/ph_student-fill.png" />
                        <h2 class="card-title text-center text-white font-weight-bold">Student</h2>
                        <p class="card-text text-center text-white px-5 pt-5">Study your way (<em>to the top</em>)! Create and memorize interactive flash cards.</p>
                        <a asp-controller="Student" asp-action="Index" class="btn btn-white btn-lg rounded-pill align-self-center mt-auto mb-3" style="width: 230px">STUDY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>