@model Mentat.UI.Models.Assignment

@{
    ViewData["Title"] = "Add Assignment";
}

@using (Html.BeginForm("SubmitForm", "Mentor", FormMethod.Post))
{
    <h2>Add Assignment Form</h2>
    <div>
        Mentor Name
    </div>
    @Html.TextBoxFor(model => model.mentorName)
    <div>
        Assignment Name
    </div>
    @Html.TextBoxFor(model => model.assignmentName)
    <div>
        Assignment Type
    </div>
    @Html.RadioButtonFor(m => m.assignmentType, ".c") @:.c
    @Html.RadioButtonFor(m => m.assignmentType, ".cpp") @:.cpp
    <div>
        Sample Executable Name
    </div>
    @Html.TextBoxFor(model => model.sampleExecutableName)
    <div>
        Test File Names
    </div>
    @Html.TextAreaFor(model => model.testFileNames)
    <div>
    <input type="submit" value="Submit" />
    </div>
}
